
<div class="row">
    <div class="col-sm-8">

        <div class="xe-widget xe-conversations">
            <div class="xe-bg-icon">
                <i class="linecons-comment"></i>
            </div>
            <div class="xe-header">
                <div class="xe-icon">
                    <i class="linecons-comment"></i>
                </div>
                <div class="xe-label">
                    <h3>
                        Project Details for {{customerinfo.name}}
                        <small>Opportunity Name : {{opportunity.opportunity_name}}</small>
                    </h3>
                </div>
            </div>
            <div class="xe-body">

                <ul class="list-unstyled">
                    <li>
                        <div class="xe-comment-entry">


                            <div class="xe-comment">

                                    <strong>Project Name</strong>


                                <b> {{newproject.project_name}}</b>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="xe-comment-entry">

                            <div class="xe-comment">

                                    <strong>Project Description</strong>


                                <b> {{newproject.description}}</b>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="xe-comment-entry">

                            <div class="xe-comment">

                                    <strong>Start Date</strong>


                                <b> {{newproject.start_date | date:'fullDate' }}</b>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="xe-comment-entry">

                            <div class="xe-comment">

                                    <strong>End Date</strong>


                                <b> {{newproject.end_date | date:'fullDate' }}</b>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="xe-comment-entry">
                            <div class="xe-comment">
                               <strong>Products Purchased</strong>
                            </div>
                        </div>
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>SKU</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="obj in products ">
                                    <td><b><i>{{obj.package_name}}</i></b></td>
                                    <td>{{obj.sku}}</td>
                                    <td><b>{{obj.quantity_purchased}}</b></td>

                                </tr>

                                </tbody>
                            </table>
                    </li>

                </ul>
            </div>
            <div >
                <button class="btn btn-secondary btn-icon btn-icon-standalone" ng-click="createProject()">
                    <i class="fa-check-square"></i>
                    <span>Create Project</span>
                </button>
            </div>
        </div>

    </div>
</div>