<div ng-controller="ProjectActivityCtrl">
    <div class="row">
        <div class="col-sm-12">

        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create Activity for Project : {{project.project_name}}</h3>
            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
                <a href="#" data-toggle="remove">
                    &times;
                </a>
            </div>
        </div>
        <div class="panel-body">

            <form role="form" class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">Activity Type</label>

                <div class="col-sm-10">
                    <select ng-model="activityType" ng-options="s.name for s in allProjectActivityType " class="selectboxit" ng-change="onchange(selectedItem)" >
                        <option value="">-- Activity Type --</option>
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-1">TAM Delivering Activity</label>

                <div class="col-sm-10">

                 <input type="text" ng-model="tamUser" typeahead="user for user in users | filter:$viewValue | limitTo:8" class="form-control" placeholder="Type User Name and it will Auto Fill" id="field-1">

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-5">Activity Description</label>

                <div class="col-sm-10">
                    <textarea class="form-control autogrow" cols="5" id="field-5" placeholder="Type Activity Description." ng-model="description"></textarea>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label">Start Date</label>

                <div class="col-sm-10">
                    <div class="input-group">

                        <input type="text" id="start_date"class="form-control" datepicker-popup="{{format}}" ng-model="startdate" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openstartdate($event)"><i class="linecons-calendar"></i></button>
                        </span>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">End Date</label>

                <div class="col-sm-10">
                    <div class="input-group">

                        <input type="text" id="end_date" class="form-control" datepicker-popup="{{format}}" ng-model="enddate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="linecons-calendar"></i></button>
                        </span>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>

                <div class="col-sm-10">
                    <select class="form-control" ng-model="location" ng-options=" l.name for l in allProjectActivityLocation " class="selectboxit" ng-change="onchangeLocation(selectedItem1)" >
                        <option value="">-- Location --</option>
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Activity Status</label>

                <div class="col-sm-10">
                    <select class="form-control" ng-model="status" ng-options="status.name for status in allProjectActivityStatus " class="selectboxit" ng-change="onchangeStatus(selectedItem2)" >
                        <option value="">-- Status --</option>
                    </select>
                </div>
            </div>
                <div class="form-group-separator"></div>
            <div class="form-group">


                <div class="buttons">
                    <!-- button to show form -->
                    <button type="button" class="btn btn-secondary btn-sm btn-icon icon-left" ng-click="saveactivity()">
                        Save Activity
                    </button>
                    <button type="button" class="btn btn-default"  ng-click="cancel()">
                        Cancel
                    </button>

                </div>
            </div>
            </form>

        </div>
        </div>

        </div>
    </div>
</div>
