<div ng-controller="ProjectCtrl">

<form role="forl" id="rootwizard" class="form-wizard novalidate">

    <ul class="tabs">
        <li ng-class="{'active': activeProjectTab === 'step1'}" >
            <a href ng-click="switchProjectTabTo('step1')" data-toggle="tab">
                Project Info
                <span>1</span>
            </a>
        </li>
        <li ng-class="{'active': activeProjectTab === 'step2'}">
            <a href ng-click="switchProjectTabTo('step2')" data-toggle="tab">
                Products Purchased
                <span>2</span>
            </a>
        </li>
        <li ng-class="{'active': activeProjectTab === 'step3'}">
            <a href ng-click="switchProjectTabTo('step3')" data-toggle="tab">
                Confirm
                <span>3</span>
            </a>
        </li>
        <!--<li ng-class="{'active': activeProjectTab === 'step4'}">
            <a href ng-click="switchProjectTabTo('step4')" data-toggle="tab">
                Confirm
                <span>4</span>
            </a>
        </li>   -->

     </ul>

    <div class="progress-indicator">
        <span></span>
    </div>



            <div class="tab-content no-margin">
                <!-- Tabs Content -->
                <div class="tab-pane with-bg active">
                    <div ng-include="tabProjectTemplates[activeProjectTab]"> </div>

                </div>
                <!-- Tabs Pager -->

                <!--<ul class="pager wizard">
                    <li class="previous">
                        <a href="#"><i class="entypo-left-open"></i> Previous</a>
                    </li>

                    <li class="next">
                        <a href="#">Next <i class="entypo-right-open"></i></a>
                    </li>
                </ul>        -->

                <div style="margin-top:30px; text-align: right;" class="row">
                    <a class="btn btn-primary" ng-click="handlePrevious()" ng-show="!isFirstStep()">Previous</a>
                    <a class="btn btn-primary" ng-click="handleNext()">{{getNextLabel()}}</a>
                </div>



            </div>

</form>

</div>