<div class="row">

    <div class="col-md-4">
        <div class="form-group">
            <h5>Project Name</h5>

            <input type="text" class="form-control" name="full_name" id="full_name" ng-model="newproject.project_name" data-validate="required" placeholder="Enter Project Name" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <h5>Description</h5>

            <textarea class="form-control autogrow" ng-model="newproject.description" name="about" id="about" data-validate="minlength[10]" rows="5" placeholder="Enter Project Description"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="form-group">
            <h5>Start Date</h5>
            <pre>Start date is: <em>{{newproject.start_date | date:'fullDate' }}</em></pre>
            <div style="display:inline-block; min-height:290px;">
                <datepicker ng-model="newproject.start_date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5>End Date</h5> <pre>End date is: <em>{{newproject.end_date | date:'fullDate' }}</em></pre>
        <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="newproject.end_date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>

    </div>
</div>



<div class="row">



</div>