<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Product Name</label>
            <select ng-model="selectedItem" ng-options="product.package_name for product in allserviceproducts " class="selectboxit" ng-change="onchange(selectedItem)" >
            <option value="">-- Choose Product --</option>
            </select>

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="SKU">SKU</label>
            <input type="text" class="form-control" name="SKU" id="SKU" ng-model="selectedItem.sku" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="quantity">Quantity Purchased</label>
            <input type=number class="form-control" name="quantity" id="quantity" data-validate="number" placeholder="Numbers only"  min="1" ng-model="quantity" ng-change="onquantitychange(quantity)"/>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="service_days">Service Days</label>
            <input type=number class="form-control" name="service_days" id="service_days"   ng-model="selectedItem.service_days" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="architect_days">Architect Days</label>
            <input type=number class="form-control" name="architect_days" id="architect_days"  ng-model="selectedItem.architect_days" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="service_warranty_days">Service Warranty Days</label>
            <input type=number class="form-control" name="service_warranty_days" id="service_warranty_days"  ng-model="selectedItem.service_warranty_days" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="product_warranty_days">Product Warranty Days</label>
            <input type=number class="form-control" name="product_warranty_days" id="product_warranty_days"  ng-model="selectedItem.product_warranty_days" />
        </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="service_warranty_days">Sales Giveaway Days</label>
            <input type=number class="form-control" name="sales_giveaway_days" id="sales_giveaway_days" data-validate="required" ng-model="selectedItem.sales_giveaway_days" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="public_training_class_seats">Public Training Class Seats</label>
            <input type=number class="form-control" name="public_training_class_seats" id="public_training_class_seats" data-validate="required" ng-model="selectedItem.public_training_class_seats" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="private_training_class">Private Training Class Seats</label>
            <input class="form-control" name="private_training_class" id="private_training_class" data-validate="required" ng-model="selectedItem.private_training_class" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="services_units">Services Units</label>
            <input type=number class="form-control" name="services_units" id="services_units" data-validate="required" ng-model="selectedItem.services_units" />
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group" ng-show="selectedItem!=null">
            <button type="submit" class="btn btn-success btn-icon" value="add" ng-click="addproduct()"><i class="fa-check"></i><span>Add Product</span></button>
        </div>
    </div>
</div>
<div class="row" ng-hide="products===null">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>SKU</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        <!--
        <th>Service Days</th>
                <th>Architect Days</th>
                <th>Service Warranty Days</th>
                <th>Product Warranty Days</th>
                <th>Sales Giveaway Days</th>
                <th>Public Training Class Seats</th>
                <th>Private Training Class Seats</th>
                <th>Services Units</th>

        <tr ng-repeat="product in products">
            <td>{{product.package_name}}</td>
            <td>{{product.sku}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.service_days}}</td>
            <td>{{product.architect_days}}</td>
            <td>{{product.service_warranty_days}}</td>
            <td>{{product.product_warranty_days}}</td>
            <td>{{product.sales_giveaway_days}}</td>
            <td>{{product.public_training_class_seats}}</td>
            <td>{{product.private_training_class}}</td>
            <td>{{product.services_units}}</td>
            <td>
                <a href ng-click="deleteproduct('$index')" class="btn btn-secondary btn-sm btn-icon icon-left">
                    Delete Product
                </a>

            </td>

        </tr> -->

        <tr ng-repeat="obj in products ">
            <td><b><i>{{obj.package_name}}</i></b></td>
            <td>{{obj.sku}}</td>
            <td><b>{{obj.quantity_purchased}}</b></td>

            <td>
                <a href ng-click="deleteproduct($index)" class="btn btn-icon btn-red icon-left"> <i class="fa-remove"></i>
                </a>

            </td>

        </tr>

        </tbody>
    </table>
</div>




