<strong>Current &amp; Past Jobs</strong>
<br />
<br />

<div class="row">

    <div class="col-md-1">
        <label class="control-label">&nbsp;</label>
        <p class="text-right">
            <span class="label label-info">1</span>
        </p>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="job_position_1">Company Name</label>
            <input class="form-control" name="job_position_1" id="job_position_1" data-validate="require" placeholder="Your current job" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="job_position_1">Job Position</label>
            <input class="form-control" name="job_position_1" id="job_position_1" data-validate="require" placeholder="Your current position" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_start_date_1">Start Date</label>
            <input class="form-control datepicker" name="job_position_start_date_1" id="job_position_start_date_1" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_end_date_1">End Date</label>
            <input class="form-control datepicker" name="job_position_end_date_1" id="job_position_end_date_1" placeholder="(Optional)" />
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-1">
        <label class="control-label">&nbsp;</label>
        <p class="text-right">
            <span class="label label-info">2</span>
        </p>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="job_position_2">Company Name</label>
            <input class="form-control" name="job_position_2" id="job_position_2" data-validate="require" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="job_position_2">Job Position</label>
            <input class="form-control" name="job_position_2" id="job_position_2" data-validate="require" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_start_date_2">Start Date</label>
            <input class="form-control datepicker" name="job_position_start_date_2" id="job_position_start_date_2" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_end_date_2">End Date</label>
            <input class="form-control datepicker" name="job_position_end_date_2" id="job_position_end_date_2" placeholder="(Optional)" />
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-1">
        <label class="control-label">&nbsp;</label>
        <p class="text-right">
            <span class="label label-info">3</span>
        </p>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="job_position_3">Company Name</label>
            <input class="form-control" name="job_position_3" id="job_position_3" data-validate="require" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="job_position_3">Job Position</label>
            <input class="form-control" name="job_position_3" id="job_position_3" data-validate="require" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_start_date_3">Start Date</label>
            <input class="form-control datepicker" name="job_position_start_date_3" id="job_position_start_date_3" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_end_date_3">End Date</label>
            <input class="form-control datepicker" name="job_position_end_date_3" id="job_position_end_date_3" placeholder="(Optional)" />
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-1">
        <label class="control-label">&nbsp;</label>
        <p class="text-right">
            <span class="label label-info">4</span>
        </p>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="job_position_4">Company Name</label>
            <input class="form-control" name="job_position_4" id="job_position_4" data-validate="require" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="job_position_4">Job Position</label>
            <input class="form-control" name="job_position_4" id="job_position_4" data-validate="require" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_start_date_4">Start Date</label>
            <input class="form-control datepicker" name="job_position_start_date_4" id="job_position_start_date_4" placeholder="(Optional)" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="job_position_end_date_4">End Date</label>
            <input class="form-control datepicker" name="job_position_end_date_4" id="job_position_end_date_4" placeholder="(Optional)" />
        </div>
    </div>

</div>