<div ng-controller="ProjectDetailsCtrl">
    <div class="row">
        <div class="form-group">
            <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="createProjectActivity()"> <i class="fa-pencil-square-o"></i> <span>Schedule Activity</span> </button>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Project Activities</h3>

                <div class="panel-options">
                    <a href="#">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>


                </div>
            </div>

            <table st-table="projectactivities" class="table table-bordered table-striped text-primary" id="example-4"  st-safe-src="rowCollection">
                <thead>
                <tr>
                    <th st-sort="start_date">Start Date</th>
                    <th st-sort="end_date">End Date</th>
                    <th st-sort="activity">Activity</th>
                    <th st-sort="username">TAM</th>
                    <th st-sort="hours">Hours</th>
                    <th st-sort="location">Location</th>
                    <th st-sort="status">Status</th>

                </tr>

                </thead>


                <tbody>
                <tr ng-repeat="activity in projectactivities">
                    <td>
                        <!-- start date -->
                       <span editable-text="activity.activity_start_date" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>{{ activity.activity_start_date || 'empty' }}</span>
                    </td>
                    <td>
                        <!-- end date -->
                        <span editable-text="activity.activity_end_date" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>{{ activity.activity_end_date || 'empty' }}</span>
                    </td>
                    <td>
                        <!-- editable activity -->
                        <span editable-select="activity.project_activity_type.name" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(user) }}</span>
                    </td>
                    <td>
                        <!-- editable username -->
                        <span editable-text="activity.username" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>{{ activity.username || 'empty' }}</span>
                    </td>
                    <td>
                        <!-- editable hours -->
                        <span editable-text="activity.project_activity_hours" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>{{ activity.project_activity_hours|| 'empty' }}</span>
                    </td>
                    <td>
                        <!-- editable location -->
                        <span editable-select="activity.project_activity_location" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">{{ activity.project_activity_location }}</span>
                    </td>
                    <td>
                        <!-- editable status  -->
                        <span editable-select="activity.project_activity_status.name" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">{{ showStatus(user) }}</span>
                    </td>
                    <td>
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                            <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                        </div>
                    </td>

                </tr>

                </tbody>

                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>

            </table>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Name - <b>{{ project.project_name}}</b></h3>
                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove">
                            &times;
                        </a>
                    </div>
                </div>
                <div class="panel-body">

                    <form  editable-form name="editableForm" onaftersave="saveProject()">

                        <div class="form-group">
                            <!-- editable username (text with validation) -->

                            <span class="title">Project Name: </span>
                            <span editable-text="project.project_name" e-name="name" onbeforesave="checkName($data)" e-required>{{ project.project_name|| 'empty' }}</span>
                        </div>
                        <div class="form-group">
                            <span class="title">Project Description: </span>
                            <span editable-textarea="project.description" e-rows="7" e-cols="40"  e-name="desc">{{ project.description|| 'No Description' }}</span>
                        </div>
                        <div class="form-group">
                            <span class="title">Project Adoption Score: </span>
                            <span editable-number="project.project_adoption_score" e-required e-min="0">{{ project.project_adoption_score || 'empty' }}</span>
                        </div>

                        <div class="form-group">
                            <span class="title">Project Adoption Status: </span>
                            <span editable-select="project.project_adoption_status" e-required e-name="project_adoption_status" e-ng-options="s.text for s in projectadoptionstatus" onbeforesave="checkProjectAdoptionStatus($data)">
                                {{ (projectadoptionstatus | filter:{text: project.project_adoption_status})[0].text || 'Not set' }}
                            </span>
                        </div>
                        <div class="form-group">

                            <span class="title">Start Date: </span>
                            <span editable-bsdate="project.start_date" e-required e-datepicker-popup="dd-MMMM-yyyy">{{ (project.start_date|date:'fullDate') || 'empty' }} </span>

                        </div>

                        <div class="form-group">

                            <span class="title">End Date: </span>
                            <span editable-bsdate="project.end_date" e-required e-datepicker-popup="dd-MMMM-yyyy">{{ (project.end_date|date:'fullDate') || 'empty' }} </span>

                        </div>

                        <div class="form-group">
                            <span class="title">Project State: </span>
                            <span editable-select="project.status" e-required e-name="status" e-ng-options="s.text for s in projectstatus" onbeforesave="checkStatus($data)">
                                {{ (projectstatus | filter:{text: project.status})[0].text || 'Project Status not set' }}
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="title">Closed Date: </span>
                            <span editable-bsdate="project.project_close_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.project_close_date|date:'fullDate') || 'Project is not closed' }} </span>
                        </div>
                        <div class="form-group">
                            <span class="title">Extension Date: </span>
                            <span editable-bsdate="project.project_extension_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.project_extension_date|date:'fullDate') || 'No Extension date' }} </span>
                        </div>

                        <div class="form-group">
                            <span class="title">Terms & Conditions: </span>
                            <span editable-checkbox="project.isNonStandardTermsandConditions" e-title="Non-standard Terms & Conditions?">
                                {{ project.isNonStandardTermsandConditions && "Non-Standard Terms & Conditions!" || "Standard Terms & Conditions" }}
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="title">Project Transition Meeting Date: </span>
                            <span editable-bsdate="project.transition_meeting_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.transition_meeting_date|date:'fullDate') || 'empty' }} </span>
                        </div>
                        <div class="form-group">
                            <span class="title">Project Kick-Off Date: </span>
                            <span editable-bsdate="project.kickoff_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.kickoff_date|date:'fullDate') || 'empty' }} </span>
                        </div>

                        <hr>
                        <div class="form-group">
                            <span class="title">EB Meeting Scheduled: </span>
                            <span editable-checkbox="project.isEBMeetingScheduled" e-title="EB Meeting Scheduled?">
                                {{ project.isEBMeetingScheduled && "EB Meeting Scheduled!" || "EB Meeting Not Scheduled" }}
                            </span>
                            <!--<span editable-select="project.isEBMeetingScheduled" e-name="status" e-ng-options="e.text for e in EBMeetingScheduled" onbeforesave="checkEBMeeting($data)">
                                {{ (EBMeetingScheduled | filter:{text: project.isEBMeetingScheduled})[0].text || 'EB Meeting Not Scheduled' }}
                            </span> -->
                        </div>

                        <div class="form-group">
                            <span class="title">2 month EB Milestone Date: </span>
                            <span editable-bsdate="project.sixty_day_EBMeeting_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.sixty_day_EBMeeting_date|date:'fullDate') || 'empty' }} </span>
                        </div>
                        <div class="form-group">
                            <span class="title">4 month EB Milestone Date: </span>
                            <span editable-bsdate="project.one_twenty_day_EBMeeting_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.one_twenty_day_EBMeeting_date|date:'fullDate') || 'empty' }} </span>
                        </div>
                        <div class="form-group">
                            <span class="title">6 month EB Milestone Date: </span>
                            <span editable-bsdate="project.one_eighty_day_EBMeeting_date" e-datepicker-popup="dd-MMMM-yyyy">{{ (project.one_eighty_day_EBMeeting_date|date:'fullDate') || 'empty' }} </span>
                        </div>
                        <hr noshade>



                        <div class="form-group">


                            <div class="buttons">
                                <!-- button to show form -->
                                <button type="button" class="btn btn-secondary btn-sm btn-icon icon-left" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                    Edit Project
                                </button>
                                <!-- buttons to submit / cancel form -->
                              <span ng-show="editableForm.$visible">
                                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                                    Save
                                </button>
                                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                    Cancel
                                </button>
                              </span>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

