<div ng-controller="AccountContactsCtrl">
    <div class="panel-body">

        <table st-table="customercontacts" class="table table-bordered table-striped text-primary" id="example-4"  st-safe-src="rowCollection">
            <thead>
            <tr>
                <th st-sort="name"> Name</th>
                <th st-sort="email">email</th>
                <th st-sort="Phone">Phone</th>

            </tr>

            <tr>
                <th>
                    <input st-search="'name'" placeholder="search for Name" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="4">
                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                </th>
            </tr>

            </thead>


            <tbody>
            <tr ng-repeat="contact in customercontacts">
                <td><span><a class="active" href="#/tam/account/{{contact.id}}">{{contact.name}}</a></span></td>
                <td>{{contact.email}}</td>
                <td>{{contact.Phone}}</td>

            </tr>

            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>

        </table>

    </div>

</div>
