
<div class="row">
    <h2>{{customerinfo.name}} | {{customerinfo.total_Account_Revenue |currency}}     </h2>
</div>

<div class="row">

    <div class="col-md-12">

        <ul class="nav nav-tabs nav-tabs-justified">
            <li ng-class="{'pure-button-active': activeTab === 'home'}">
                <a href ng-click="switchTabTo('home')" data-toggle="tab">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">Home</span>
                </a>
            </li>
            <li ng-class="{'pure-button-active': activeTab === 'projects'}">
                <a href ng-click="switchTabTo('projects')" data-toggle="tab">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">Projects</span>
                </a>
            </li>
            <li ng-class="{'pure-button-active': activeTab === 'notes'}">
                <a href ng-click="switchTabTo('notes')" data-toggle="tab">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">Notes</span>
                </a>
            </li>

            <li ng-class="{'pure-button-active': activeTab === 'documents'}">
                <a href ng-click="switchTabTo('documents')" data-toggle="tab">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">Documents</span>
                </a>
            </li>

            <li ng-class="{'pure-button-active': activeTab === 'tasks'}">
                <a href ng-click="switchTabTo('tasks')" data-toggle="tab">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">Tasks</span>
                </a>
            </li>
            <li ng-class="{'pure-button-active': activeTab === 'tasks'}">
                <a href ng-click="switchTabTo('contacts')" data-toggle="tab">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">Contacts</span>
                </a>
            </li>

        </ul>

        <div class="tab-content">
            <div ng-include="tabTemplates[activeTab]"></div>
        </div>

    </div>


</div>

