<div ng-controller="HomeCtrl">

<div class="panel panel-default">
    <div class="panel-heading">
        Risk Score
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-3">
                <p class="text-medium">View the number of requests completed at the moment and for the selected range within the last day.</p>
                <div class="super-large text-secondary" data-count="this" data-from="0" data-to="4" data-duration="1.5">{{customerinfo.riskScore}}</div>
            </div>
            <div class="col-sm-3">
                <div id="reqs-per-second" style="height: 150px;"></div>
            </div>
            <div class="col-sm-6">
                <div id="reqs-per-second-chart" style="height: 150px;"></div>
            </div>
        </div>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Adoption Score
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-3">
                <p class="text-medium">View the number of requests completed at the moment and for the selected range within the last day.</p>
                <div class="super-large text-secondary" data-count="this" data-from="0" data-to="4" data-duration="1.5">{{customerinfo.adoptionScore}}</div>
            </div>
            <div class="col-sm-3">
                <div id="reqs-per-second1" style="height: 150px;"></div>
            </div>
            <div class="col-sm-6">
                <div id="reqs-per-second-chart1" style="height: 150px;"></div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-3">

        <!-- Colored panel, remember to add "panel-color" before applying the color -->
        <div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
            <div class="panel-heading">
                <h3 class="panel-title">Account Team</h3>

                <div class="panel-options">
                    <a href="#">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <div >
                    <ul class="list-group list-group-minimal">
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-primary">{{customerinfo.salesAccountMgr}}</span>
                            Sales Rep
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-info">{{customerinfo.salesEngineer}}</span>
                            Sales Engineer
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-danger">{{customerinfo.technical_Account_Manager}}</span>
                            Primary TAM
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-success">{{customerinfo.secondary_Technical_Account_Manager}}</span>
                            Secondary  TAM
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-success">{{customerinfo.customer_Relationship_manager}}</span>
                            CRM
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-warning">{{customerinfo.technical_Architect}}</span>
                            Architect
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-warning">{{customerinfo.executiveSponsor}}</span>
                            Executive Sponsor
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">

        <!-- Colored panel, remember to add "panel-color" before applying the color -->
        <div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
            <div class="panel-heading">
                <h3 class="panel-title">Account Information</h3>

                <div class="panel-options">
                    <a href="#">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <div class="panel-body ">
                <div >
                    <ul class="list-group list-group-minimal">
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-primary">{{customerinfo.total_Account_Revenue |currency}}</span>
                            Revenue
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-info">22,000</span>
                            Licenses
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-danger">16.7%</span>
                            Renewal Date
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-success">11,340</span>
                            Enablement Hours Left
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-warning">18,741</span>
                            Primary Champion
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-roundless badge-warning">18,741</span>
                            Open Support Cases
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-6">
        <!-- Colored panel, remember to add "panel-color" before applying the color -->
        <div class="panel"><!-- Add class "collapsed" to minimize the panel -->
            <div class="panel-heading">
                <h3 class="panel-title">Account Activity</h3>

                <div class="panel-options">
                    <a href="#">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>

            <div class="panel-body panel-flat">
                <div >

                    <ul class="cbp_tmtimeline">
                        <li>
                            <time class="cbp_tmtime" datetime="2014-10-03T18:30"><span class="hidden">03/10/2014</span> <span class="large">Now</span></time>

                            <div class="cbp_tmicon timeline-bg-gray">
                                <i class="fa-user"></i>
                            </div>

                            <div class="cbp_tmlabel empty">
                                <span>No Activity</span>
                            </div>
                        </li>

                        <li>
                            <time class="cbp_tmtime" datetime="2014-10-03T03:45"><span>03:45 AM</span> <span>Today</span></time>

                            <div class="cbp_tmicon timeline-bg-success">
                                <i class="fa-paper-plane-o"></i>
                            </div>

                            <div class="cbp_tmlabel">
                                <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                <p>Tolerably earnestly middleton extremely distrusts she boy now not. </p>
                            </div>
                        </li>

                        <li>
                            <time class="cbp_tmtime" datetime="2014-10-02T13:22"><span>01:22 PM</span> <span>Yesterday</span></time>

                            <div class="cbp_tmicon timeline-bg-primary">
                                <i class="fa-calendar"></i>
                            </div>

                            <div class="cbp_tmlabel">
                                <h2><a href="#">Job Meeting</a></h2>
                                <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>


</div>

</div>
