<div ng-controller="AccountProjectsCtrl as ctrl">
    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Projects</h3>

                    <div class="panel-options">
                        <a href ng-click="refreshprojects()">
                            <i class="linecons-cog"></i>
                        </a>

                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>

                        <a href="#" data-toggle="reload">
                            <i class="fa-rotate-right"></i>
                        </a>

                        <a href="#" data-toggle="remove">
                            &times;
                        </a>

                    </div>
                </div>

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Status</th>
                        <th>Adoption Status</th>
                        <th>Adoption Score</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="project in customerprojects">
                        <td><a href ng-click="projectdetails(project.id,project)">{{project.project_name}}</a></td>
                        <td>{{project.status}}</td>
                        <td>{{project.project_adoption_status }}</td>
                        <td>{{project.project_adoption_score }}</td>
                        <td>
                            <a href ng-click="deleteproject(project.id)" class="btn btn-icon btn-red icon-left"> <i class="fa-remove"></i>
                            </a>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Closed/Won Opportunities</h3>

                    <div class="panel-options">
                        <a href="#">
                            <i class="linecons-cog"></i>
                        </a>

                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>

                        <a href="#" data-toggle="reload">
                            <i class="fa-rotate-right"></i>
                        </a>

                        <a href="#" data-toggle="remove">
                            &times;
                        </a>


                    </div>
                </div>

                <table st-table="customeropps" class="table table-bordered table-striped text-primary" id="example-4"  st-safe-src="rowCollection">
                    <thead>
                    <tr>
                        <th st-sort="opportunity_name">Name</th>
                        <th st-sort="amount">Amount</th>
                        <th st-sort="opportunity_stage">Stage</th>
                        <th st-sort="action">Action</th>


                    </tr>
                    <tr>
                        <th>
                            <input st-search="'opportunity_name'" placeholder="search for Opportunity Name" class="input-sm form-control" type="search"/>
                        </th>

                    </tr>

                    </thead>


                    <tbody>
                    <tr ng-repeat="opp in customeropps">
                        <td><span><a class="active" href="#/tam/account/opp/{{opp.opportunity_id}}">{{opp.opportunity_name}}</a></span></td>
                        <td>{{opp.amount | currency}}</td>
                        <td>{{opp.opportunity_stage }}</td>
                        <td>
                            <a href ng-click="saveopp(opp);switchTabTo('createproject')" class="btn btn-secondary btn-sm btn-icon icon-left">
                                Create Project
                            </a>

                        </td>

                    </tr>

                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>

                </table>


            </div>

        </div>

    </div>
</div>