





<!-- Table exporting -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">All Customers</h3>

        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">


        <table st-table="customers" class="table table-bordered table-striped text-primary" id="example-4"  st-safe-src="rowCollection">
            <thead>
                <tr>
                    <th st-sort="name"> Name</th>
                    <th st-sort="total_Account_Revenue">Revenue</th>
                    <th st-sort="Technical_Account_Manager">TAM</th>
                    <th st-sort="salesAccountMgr">Sales Rep</th>
                    <th st-sort="riskScore">Risk Score</th>
                    <th st-sort="adoptionScore">Adoption Score </th>
                </tr>

                <tr>
                    <th>
                        <input st-search="'name'" placeholder="search for Name" class="input-sm form-control" type="search"/>
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                    </th>
                </tr>

            </thead>


            <tbody>
                <tr ng-repeat="account in customers">
                    <td><span><a class="active" href="#/tam/account/{{account.customer_id}}">{{account.name}}</a></span></td>
                    <td>{{account.total_Account_Revenue | currency}}</td>
                    <td>{{account.Technical_Account_Manager}}</td>
                    <td>{{account.salesAccountMgr}}</td>
                    <td>{{account.riskScore}}</td>
                    <td>{{account.adoptionScore}}</td>
                </tr>

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>

        </table>

    </div>
</div>

