@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "yes/accounts.less";
@import "partial/account/account.less";
@import "partial/accounts/accounts.less";
@import "partial/notes/notes.less";
@import "partial/note/note.less";
@import "partial/contacts/contacts.less";
@import "partial/tickets/tickets.less";
@import "partial/meetings/meetings.less";
@import "partial/mom/mom.less";
@import "partial/meetingadd/meetingadd.less";
@import "partial/myplaybook/myplaybook.less";
@import "partial/activitystream/activitystream.less";
@import "partial/adoptionreport/adoptionreport.less";
@import "partial/churnreport/churnreport.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}